@import url("base.css");

#watchlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-rows: auto;
    gap: 0;
}

#watchlist-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#watchlist-heading {
    color: var(--text-primary);
}

#watchlist-description {
    color: var(--text-secondary);
    margin-bottom: 2rem;
}


#watchlist-content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.watchlistCard {
    background-color: var(--surface);
    color: var(--text-secondary);
    border: 1px solid var(--border);
    border-radius: .4rem;
    width: 25rem;
    height: 15rem;
    padding: 1rem;
}

.buttonsDiv {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    gap: 1rem;
}
.details-btn, .remove-btn, .browse-button {
    background-color: var(--primary);
    color: var(--text-primary);
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-top: 2rem;
    font-size: .9rem;
    font-weight: 600;
}

#footer {
    grid-area: 4 / 1 / 5 / -1;
    color: var(--text-primary);
}

.empty-state {
   /* display: none; */
   text-align: center;
   margin: auto;
   color: var(--text-secondary);
   padding: 2rem 0;
}
.sec-text {
    margin-top: 1rem;
    font-weight: 100;
}